<!DOCTYPE node PUBLIC "-//freedesktop//DTD D-BUS Object Introspection 1.0//EN"
		"http://www.freedesktop.org/standards/dbus/1.0/introspect.dtd">
<node>
	<interface name="com.deepin.system.proxy.App">
		<method name="AddProxy">
			<arg name="proto" type="s" direction="in"/>
			<arg name="name" type="s" direction="in"/>
			<arg name="proxy" type="ay" direction="in"/>
		</method>
		<method name="AddProxyApps">
			<arg name="app" type="as" direction="in"/>
		</method>
		<method name="ClearProxy"/>
		<method name="DelProxyApps">
			<arg name="app" type="as" direction="in"/>
		</method>
		<method name="GetProxy">
			<arg name="proxy" type="s" direction="out"/>
		</method>
		<method name="SetProxies">
			<arg name="proxies" type="(a{sa(sssiss)}asasasi)" direction="in"/>
		</method>
		<method name="GetCGroups">
			<arg name="cgroups" type="s" direction="out"/>
		</method>
		<method name="AddProc">
			<arg name="pid" type="i" direction="success"/>
		</method>
		<method name="StartProxy">
			<arg name="proto" type="s" direction="in"/>
			<arg name="name" type="s" direction="in"/>
			<arg name="udp" type="b" direction="in"/>
		</method>
		<method name="StopProxy"/>
		<signal name="Proxy">
			<arg name="proxy" type="(sssiss)"/>
		</signal>
	</interface>
	<interface name="org.freedesktop.DBus.Introspectable">
		<method name="Introspect">
			<arg name="out" type="s" direction="out"/>
		</method>
	</interface>
	<interface name="org.freedesktop.DBus.Properties">
		<method name="Get">
			<arg name="interface" type="s" direction="in"/>
			<arg name="property" type="s" direction="in"/>
			<arg name="value" type="v" direction="out"/>
		</method>
		<method name="GetAll">
			<arg name="interface" type="s" direction="in"/>
			<arg name="props" type="a{sv}" direction="out"/>
		</method>
		<method name="Set">
			<arg name="interface" type="s" direction="in"/>
			<arg name="property" type="s" direction="in"/>
			<arg name="value" type="v" direction="in"/>
		</method>
		<signal name="PropertiesChanged">
			<arg name="interface" type="s" direction="out"/>
			<arg name="changed_properties" type="a{sv}" direction="out"/>
			<arg name="invalidates_properties" type="as" direction="out"/>
		</signal>
	</interface>
	<interface name="org.freedesktop.DBus.Peer">
		<method name="Ping"/>
		<method name="GetMachineId">
			<arg name="machine_uuid" type="s" direction="out"/>
		</method>
	</interface>
</node>



